.Maze {
  display: flex;
  flex-direction: column;
}

.Maze-row {
  display: flex;
}

.Maze-cell {
  display: flex;
  flex-direction: column;
}

.slot-with-player-on-it {
  position: relative;
  display: block;
  width: 32px;
}

.absolute-position {
  position: absolute;
}
